<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>列表過濾</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
  </head>
  <body style="font-size: 1.2rem">
    <!-- 

     -->

    <div id="root">
      屬入文字篩選:<input type="text" v-model="keyword" /><br />
      <ul v-for="p in filterPersons" :key="p.id">
        <li>{{p.name}}-{{p.age}}</li>
      </ul>
    </div>

    <script>
      Vue.config.devtools = true;
      Vue.config.productionTip = false;

      new Vue({
        el: "#root",
        data: {
          keyword: "",
          persons: [
            { id: 001, name: "馬冬梅", age: 18 },
            { id: 002, name: "周冬雨", age: 19 },
            { id: 003, name: "周杰倫", age: 20 },
            { id: 004, name: "溫兆倫", age: 20 },
          ],
          // filterPersons: "",
        },
        // watch實現
        // watch: {
        //   keyword: {
        //     immediate: true,
        //     handler(value) {
        //       this.filterPersons = this.persons.filter((p) => {
        //         return p.name.indexOf(value) != -1;
        //       });
        //     },
        //   },
        // },

        // computed實現
        // computed: {
        //   filterPersons() {
        //     return (filterArr = this.persons.filter((p) => {
        //       return p.name.indexOf(this.keyword) != -1;
        //     }));
        //   },
        // },
      });
    </script>
  </body>
</html>
