<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>更新時的一個問題</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
  </head>
  <body style="font-size: 1.2rem">
    <div id="root">
      屬入文字篩選:<input type="text" v-model="keyword" />
      <button @click="sortType=0">原順序</button>
      <button @click="sortType=1">升續</button>
      <button @click="sortType=2">降續</button>
      <br />

      <ul v-for="p in filterPersons" :key="p.id">
        <li>{{p.name}}-{{p.age}}</li>
        <input type="text" />
      </ul>
      <br />

      <button @click="changeMei">更新馬冬梅訊息</button>
    </div>

    <script>
      Vue.config.devtools = true;
      Vue.config.productionTip = false;

      const vm = new Vue({
        el: "#root",
        data: {
          sortType: 0,
          keyword: "",
          persons: [
            { id: 001, name: "馬冬梅", age: 18 },
            { id: 002, name: "周冬雨", age: 19 },
            { id: 003, name: "周杰倫", age: 20 },
            { id: 004, name: "溫兆倫", age: 21 },
          ],
        },
        methods: {
          changeMei() {
            // this.persons[0].name = "馬老師"; (奏效)
            // this.persons[0].age = 45; (奏效)
            this.persons[0] = { id: "001", name: "馬老師", age: 45 };
          },
        },
        computed: {
          filterPersons() {
            let filterArr = this.persons.filter((p) => {
              return p.name.indexOf(this.keyword) != -1;
            });

            if (this.sortType) {
              return filterArr.sort((a, b) => {
                console.log(a, b);
                return this.sortType == 1 ? a.age - b.age : b.age - a.age;
              });
            } else {
              return filterArr;
            }
          },
        },
      });
    </script>
  </body>
</html>
